.container{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo{
        color: white;
        text-transform: capitalize;
    }
    input{
        height:32px;
        width: auto;
    }
    .cart{
        color: white;
        
    }
}